<header class="site-header">
  {{#if @blog.logo}}
    <h1 class="site-title"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a></h1>
  {{else}}
    <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
  {{/if}}

  <p class="site-description">{{@blog.description}}</p>
</header>

{{!-- The blog navigation links --}}
{{navigation}}

{{> "sidebar-ad-one"}}

<form class="search-form">
  <span class="icon-search"></span>
  <input type="search" id="search-field" placeholder="Search...">
</form>

{{!-- Search results --}}
<section class="results"></section>

<div class="hide">
  <nav class="social-navigation" role="navigation">
    <ul></ul>
  </nav>
</div>

<div class="hide">
  {{> "widget-tag-cloud"}}
</div>

<div class="hide">
  {{> "widget-instagram"}}
</div>
