{{!< default}}
{{! This is a page template. A page outputs content just like any other post, and has all the same attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
  {{#if image}}
    <section class="site-hero" style="background-image: url({{image}})">
      <header class="site-hero-header">
        <h1 class="site-hero-title">{{title}}</h1>
      </header>

      <div class="overlay"></div>
    </section>

    <main class="site-main" role="main">
      <div class="container">
        <div class="row">
          <div class="column">

            <article class="{{post_class}}">
  {{else}}

    <main class="site-main" role="main">
      <div class="container">
        <div class="row">
          <div class="column">

            <article class="{{post_class}}">
              <header class="post-header">
                <h2>{{title}}</h2>
              </header>
  {{/if}}
              <section class="post-content">
                {{content}}
              </section>
            </article>

        </div>
      </div>{{! End .row}}
    </div>
  </main>
{{/post}}
