<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ meta_title }}</title>
  <meta name="description" content="{{ meta_description }}" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
  <link rel="stylesheet" type="text/css" href="{{ asset "dist/css/main.css" }}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,700" />
  {{ ghost_head }}
</head>
<body class="{{ body_class }} nav-closed">
  {{> "header"}}
  <div class="site-wrapper">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{ body }}}
    <footer class="site-footer clearfix">
      <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
      <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>
  </div>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  {{ ghost_foot }}
  <script type="text/javascript" src="{{asset "/dist/js/app.min.js"}}"></script>
</body>
</html>
